<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="static/css/styles.css">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js"
        integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="static/css/styles.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Days+One&display=swap" rel="stylesheet">
</head>

<body style="background-image: url(background2.jpg);">
    <header>
        <nav class="navbar navbar-expand-lg bg-dark text-white">
            <div class="container-fluid">
                <a class="navbar-brand text-white" href='index.html'>Home</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                        <li class="nav-item">
                            <a class="nav-link text-white" href="#">Войти</a>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-white" href="#" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Доступные мероприятия
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="example.html">Онлайн
                                        мероприятия</a></li>
                                <li><a class="dropdown-item" href="#">Оффлайн
                                        мероприятия</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-white" href="#" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Культурные мероприятия
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">Достопримечательности</a></li>

                                <li><a class="dropdown-item" href="#">Доступные к посещению</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" aria-current="page" href="#">Календарь мероприятий</a>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-white" href="#" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false"> Мой профиль </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a class="dropdown-item text-black" href="personal_account.html">Личный
                                        кабинет</a>
                                </li>
                                <li>
                                    <a class="dropdown-item text-black" href='#'>Зарегистрированные</a>
                                </li>
                                <li>
                                    <a class="dropdown-item text-black" href="#">Избранные</a>
                                </li>
                                <li>
                                    <a class="dropdown-item text-black" href="#">Посещенные</a>
                                </li>

                                <li>
                                    <hr class="dropdown-divider" />
                                </li>
                                <li>
                                    <a class="dropdown-item" href="{% url 'users:logout' %}">Выйти</a>
                                </li>
                            </ul>
                        </li>


                    </ul>
                    <form class="d-flex" role="search" action="#" events_available:search_online" %}{% elif
                        name_page=='Оффлайн' %}{% url "events_available:search_offline" %}{% elif
                        name_page=='Доступные к посещению' %}{% url "events_cultural:search_events_for_visiting" %}{%
                        elif name_page=='Достопримечательности' %}{% url "events_cultural:search_attractions" %}{% elif
                        name_page=='Все мероприятия' %}{% url "main:search_all" %}{% endif %}" method="get">
                        <input class="form-control me-2" type="search" name="q" placeholder="Search"
                            aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">
                            <img src="static/general/icons/search.svg">
                        </button>
                    </form>
                </div>
            </div>
        </nav>
    </header>
    <main class="row" style="margin-left: -10px; margin-right: 0px;">
        <div class="col-lg-1 left-column"></div>
        <div class="col-lg-10 feed">
            <section>
                <div class="row mt-3 mb-3 name-for-events">
                    <div class="col-lg-1"></div>
                    <div class="col-lg-7">
                        <h2 style="color: white;"> Онлайн </h2>
                    </div>

                    <div class="col-lg-3 text-end d-flex justify-content-end align-items-center">
                        <!-- Кнопка сброса фильтров, которая будет скрыта по умолчанию -->
                        <div id="reset-filters-container" class="me-2" style="display: none;">
                            <form action="/events_available/online/" method="get">
                                <button class="btn btn-primary" type="submit">Сбросить</button>
                            </form>
                        </div>

                        <!-- Кнопка для открытия фильтров -->
                        <button id="filter-toggle" class="btn btn-primary me-2">
                            Фильтры
                        </button>

                        <!-- Кнопка для сортировки -->
                        <button id="sort-toggle" class="btn btn-primary">Сортировка</button>
                    </div>
                    <div class="col-lg-1"></div>
                </div>
                <div class="row mt-3 mb-3 events">
                    <div class="col-lg-1 left-column"></div>
                    <div class="col-lg-10 cards">
                        <div class="card">
                            <div class="row event">
                                <div class="col-lg-5 col-md-5 col-sm-5 event-preview-photo">
                                    <img src="static/finopolis_preview.jpg" alt="" class="preview-photo">
                                    <div class="type-substrate">
                                        <div class="event-type online">online</div>
                                    </div>
                                    <div class="button-substrate">
                                        <button class="btn btn-remove_app"> Отмена регистрации</button>
                                        <button class="btn btn-comment"> Оставить отзыв</button>
                                    </div>

                                </div>
                                <div class="col-lg-7 col-md-7 col-sm-7 event-preview-text">
                                    <h4 class="event-title-preview">FINOPOLIS 2024 пройдет в Сочи</h4>
                                    <div class="row">
                                        <div class="col-lg-6 col-md-5 col-sm-5 event-preview-time">
                                            <p class="preview-date">8 января 2025 г.</p>
                                            <p class="preview-time">11:00-16:00</p>
                                        </div>
                                        <div class="col-lg-6 col-md-5 col-sm-5 event-preview-speaker">
                                            <label for="speaker" class="preview-speaker">Спикер:</label>
                                            Лобанова Стефания Данииловна
                                        </div>
                                    </div>
                                    <div class="event-preview-description">
                                        <label for="" class="preview-about">О мероприятии:</label>
                                        <p class="preview-description">
                                            Форум инновационных финансовых технологий FINOPOLIS в этом году вернется
                                            в Сочи.
                                            Он пройдет с 6 по 8 ноября на территории Образовательного центра «Сириус».
                                            FINOPOLIS традиционно... <a href="#" class="show-more">Подробнее</a>
                                        </p>
                                    </div>
                                    <div class="preview-event-id">
                                        <label for="event-id" class="event-id">id: </label>
                                        <div class="e-id">0003</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="row event">
                                <div class="col-lg-5 col-md-5 col-sm-5 event-preview-photo">
                                    <img src="static/lending_pace.jpeg" alt="" class="preview-photo">
                                    <div class="type-substrate">
                                        <div class="event-type online">online</div>
                                    </div>
                                    <div class="button-substrate">
                                        <button class="btn btn-comment"> Оставить отзыв</button>
                                    </div>

                                </div>
                                <div class="col-lg-7 col-md-7 col-sm-7 event-preview-text">
                                    <h4 class="event-title-preview">В феврале темп кредитования в целом был сдержанным,
                                        хотя потребительские кредиты растут выше ожиданий</h4>
                                    <div class="row">
                                        <div class="col-lg-6 col-md-5 col-sm-5 event-preview-time">
                                            <p class="preview-date">1 января 2024 г.</p>
                                            <p class="preview-time">13:10-15:00</p>
                                        </div>
                                        <div class="col-lg-6 col-md-5 col-sm-5 event-preview-speaker">
                                            <label for="speaker" class="preview-speaker">Спикер:</label>
                                            Голубева Кира Ильинична
                                        </div>
                                    </div>
                                    <div class="event-preview-description">
                                        <label for="" class="preview-about">О мероприятии:</label>
                                        <p class="preview-description">
                                            Ипотека немного ускорилась (+0,7% после +0,6% в январе), что ожидаемо с
                                            учетом невысоких значений января из-за праздников. Рост потребительского
                                            кр... <a href="#" class="show-more">Подробнее</a>
                                        </p>
                                    </div>
                                    <div class="preview-event-id">
                                        <label for="event-id" class="event-id">id: </label>
                                        <div class="e-id">0004</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="row event">
                                <div class="col-lg-5 col-md-5 col-sm-5 event-preview-photo">
                                    <img src="static/monetary_conditions.jpg" alt="" class="preview-photo">
                                    <div class="type-substrate">
                                        <div class="event-type online">online</div>
                                    </div>
                                    <div class="button-substrate">
                                        <button class="btn btn-sent_app"> Отправить заявку</button>
                                        <button class="btn btn-comment"> Оставить отзыв</button>
                                    </div>

                                </div>
                                <div class="col-lg-7 col-md-7 col-sm-7 event-preview-text">
                                    <h4 class="event-title-preview">Денежно-кредитные условия продолжили ужесточаться</h4>
                                        <div class="row">
                                            <div class="col-lg-6 col-md-5 col-sm-5 event-preview-time">
                                                <p class="preview-date">9 апреля 2025 г.</p>
                                                <p class="preview-time">18:20-19:20</p>
                                            </div>
                                            <div class="col-lg-6 col-md-5 col-sm-5 event-preview-speaker">
                                                <label for="speaker" class="preview-speaker">Спикер:</label>
                                                Голубева Кира Ильинична
                                            </div>
                                        </div>
                                        <div class="event-preview-description">
                                            <label for="" class="preview-about">О мероприятии:</label>
                                            <p class="preview-description">
                                                В марте индикаторы денежно-кредитных условий продолжили сдвигаться
                                                в сторону ужесточения, реагируя на сигналы Банка России о более
                                                длительном, чем ожидалось, периоде поддержания высоких...<a href="#"
                                                    class="show-more">Подробнее</a>
                                            </p>
                                        </div>
                                        <div class="preview-event-id">
                                            <label for="event-id" class="event-id">id: </label>
                                            <div class="e-id">0005</div>
                                        </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-1 right-column"></div>
                </div>
            </section>
            <pagination>
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        <li class="pagination__item pagination__item--prev">
                            <a href="#" class="pagination__link">Назад</a>
                        </li>
                        <li class="pagination__item pagination__item--active">
                            <a href="#" class="pagination__link">1</a>
                        </li>
                        <li class="pagination__item">
                            <a href="#" class="pagination__link">2</a>
                        </li>
                        <li class="pagination__item">
                            <a href="#" class="pagination__link">3</a>
                        </li>
                        <li class="pagination__item pagination__item--next">
                            <a href="#" class="pagination__link">Следующая</a>
                        </li>
                    </ul>
                </nav>
            </pagination>
        </div>
        <div class="col-lg-1 right-column"></div>
    </main>
</body>

</html>