@font-face {
    font-family: 'Onest';
    src: url('Onest-VariableFont_wght.ttf') format('truetype');
}

@font-face {
    font-family: 'Kadwa';
    src: url('Kadwa-Regular.ttf') format('truetype');
}

.col-lg-2, .dropdown {
    padding-left: 0;
}

body {
    background-color: #323c48;
    /* background-color: #B3BFD1; */
    background-image: url("background2.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding-top: 0;
    padding-right: 0;
    margin: 0;
    height: 100vh;
    font-family: "Onest", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

.navbar-brand {
    font-family: 'Days One', sans-serif;
    font-weight: bold;
    font-style: normal;
}

#search {
    background-color: rgb(230, 230, 230);
    font-family: 'Onest';
    border-radius: 15px;
    color: rgb(96, 105, 114);
    font-size: 20px;
    font-weight: 600;
    line-height: 130%;
    letter-spacing: 0%;
}

main {
    min-height: 93%; 
    width: 100%;
}

.hidden {
    display: none;
}

.feed {
    background: linear-gradient(#63738acb, #b3bfd1cb 15%, #63738acb 105%);
    box-shadow: 1px 10px 27px 2px #000000;
    height: 100%;
    min-height: 93vh; 
}

header {
    background-color: #292828;
    margin: 0;
    color: aliceblue;
    box-sizing: content-box;
}

div {
    text-indent: 20px;
    line-height: 2;
    text-align: justify;
    
}
.btn-outline-success {
    background: rgba(109, 106, 129, 0.5);
    border: none;
}

.btn-outline-success:hover {
    background-color: #D9D9D9;
}

.btn-outline-success:active {
    background-color: rgb(39, 66, 106);
}
  
@font-face {
    font-family: 'Days One';
    src: url('DaysOne-Regular.ttf') format('truetype');
}

h2, h3 {
    font-family: 'Days One', sans-serif;
    font-weight: 400;
    font-style: normal;
}

.page-header {
    font-size: 48px;
}

.dropdown-menu {
    background-color: rgba(217, 217, 217, 0.9);
}

.dropdown-filter {
    padding-right: 20px;
    color: rgb(39, 66, 106);
    font-family: 'Onest';
    font-weight: 400;
    border-radius: 15px;
}

input, .form-control {
    border-radius: 10px;
}

.form-check {
    text-indent: 0;
}

.filter-message {
    border-radius: 25px;
    background: rgb(217, 217, 217);
    color: rgb(39, 66, 106);
    font-family: 'Onest';
    font-size: 20px;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: left;
    width: fit-content;
    padding-right: 20px;
    margin-top: 10px;
}

#sort-section {
    width: fit-content;
    min-height: fit-content;
    padding-right: 20px;
    color: rgb(39, 66, 106);
    font-family: 'Onest';
    font-weight: 400;
    border-radius: 15px;
    position: absolute;
    right: 15%;
}

.dropdown-header {
    color: rgb(39, 66, 106);
    font-family: 'Onest';
    font-weight: 400;
}

.form-check-input:checked{
    background-color:rgb(190, 125, 14);
    border-color:rgb(39, 66, 106);
    color: rgb(39, 66, 106);
}

button {
    box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.25),-1px 1px 3px 0px rgba(0, 0, 0, 0.25);
}

.event {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.card {
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 25px;
    background-color: rgba(217, 217, 217, 0.8);
    box-shadow: -1px 1px 4px 0px rgba(0, 0, 0, 0.25),1px 1px 4px 0px rgba(0, 0, 0, 0.25);
}

.preview-photo {
    left: 0;
    border-radius: 25px;
    /* width: 450.45px;
    height: 309.91px; */
    width: 90%;
}


.button-substrate {
    text-indent: 0;
    /* height: 56.95px; */
    bottom: 0;
    position: absolute;
    background-color: rgba(217, 217, 217, 0.8);
    z-index: 1;
    padding-top: 10px;
    padding-right: 5px;
    padding-bottom: 1px;
    padding-left: 0;
    text-align: left;
    border-bottom-left-radius: 25px;
    border-top-right-radius: 25px;

}

.btn {
    position: relative;
    /* width: 181.22px; */
    /* height: 46.6px; */
    box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.25),-1px 1px 3px 0px rgba(0, 0, 0, 0.25);
    margin: 0;
    margin-right: 5px;
    border-radius: 25px;
    padding-inline: 15px;
    left: 0;
    opacity: 100%;
    color: rgb(255, 255, 255);
    font-family: 'Onest';
    font-size: 20px;
    font-weight: 600;
    line-height: 130%;
    letter-spacing: 0%;
}

.btn-primary {
    height: 0px;
    background: none;
    width: auto;
    padding: 0;
    border: none;
    box-shadow: none;
}

.btn-primary:hover {
    height: 0px;
    background: none;
    width: auto;
    padding: 0;
    border: none;
    box-shadow: none;
}

.btn-primary:active {
    height: 0px;
    background: none;
    width: auto;
    padding: 0;
    border: none;
    box-shadow: none;
}

.selection-icon {
    height: 54px;
    width: 54px;
    border-radius: 12px;
}

.selection-icon:hover {
    height: 64px;
    width: 64px;
    box-shadow: 0px 0px 10px 6px #d9d9d9;
}

.selection-icon:active {
    height: 54px;
    width: 54px;
    box-shadow: 0px 0px 10px 6px rgba(65, 84, 170, 0.5);
}

.btn-remove_app{
    background: rgba(109, 106, 129, 0.5);
}

.btn-sent_app {
    background:rgb(190, 125, 14);
}

.btn-comment {
 background: rgb(39, 66, 106);
}

.type-substrate {
    top: 0;
    position: absolute;
    z-index: 1;
    /* left: 366.35px; */
    /* top: 25.65px; */
    padding: 10px;
    text-align: right;
    text-indent: 0;
    border-bottom-left-radius: 25px;
    border-top-right-radius: 25px;
    background-color: rgba(217, 217, 217, 0.8);
    padding-top: 0;
    padding-right: 0;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 20px 0;
}

.pagination__item {
    margin: 2px;
    border: 1px solid #ccc;
    border-radius: 12px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    text-indent: 0;
    padding-inline: 2px;
    align-items: center;
    min-width: 40px;
    height: 30px;
    transition: background-color 0.3s;
}

.pagination__item--active {
    background-color: #808080;
    color: #fff;
}

.pagination__link {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    transition: color 0.3s;
}

.pagination__item:hover {
    background-color: #e0e0e0;
}

.pagination__link:hover {
    color: #007bff;
}

.pagination__item--prev,
.pagination__item--next {
    min-width: 80px;
}

.event-type {
    /* position: relative; */
    /* width: 104.29px; */
    /* height: 33.28px; */
    border-radius: 25px;
    box-shadow: -1px 4px 4px 0px rgba(0, 0, 0, 0.25),1px 1px 4px 0px rgba(0, 0, 0, 0.25);
    /* right: 0; */
    color: rgb(255, 255, 255);
    font-family: 'Kadwa';
    font-size: 24px;
    font-weight: 700;
    line-height: 130%;
    letter-spacing: 0%;
    text-indent: 0;
    text-align: center;
    top: 0;
    opacity: 100%;
    z-index: 2;
    margin-right: 2px;
    margin-top: 2px;
    padding-inline: 10px;
}

.online {
    background: rgb(39, 66, 106);
}

.offline {
    background: rgb(135, 129, 171);
}

.event-preview-text {
    /* padding-left: 0; */
    text-indent: 0;
    padding-inline: 25px;
    padding-right: 50px;
}


.event-title-preview {
    font-family: 'Days One', sans-serif;
    text-indent: 0;
    font-style: normal;
    color: rgb(39, 66, 106);
    font-size: 24px;
    font-weight: 400;
    line-height: 130%;
    letter-spacing: 0%;
    text-align: left;
}

.event-preview-time {
    text-indent: 0;
    color: rgb(35, 62, 102);
    font-family: 'Onest';
    font-size: 20px;
    font-weight: 600;
    line-height: 130%;
    letter-spacing: 0%;
    text-align: left;
    padding-right: 20%;
}

.preview-date {
    margin: 0;
}
.preview-time {
    margin: 0;
}

.event-preview-speaker {
    text-indent: 0;
    color: rgb(35, 62, 102);
    font-family: 'Onest';
    font-size: 20px;
    font-weight: 600;
    line-height: 130%;
    letter-spacing: 0%;
    text-align: right;
    padding-left: 10%;
    /* padding-right: 40px; */
    
}


.event-preview-description {
    padding-top: 10px;
    text-indent: 0;
    color: rgb(35, 62, 102);
    font-family: 'Onest';
    line-height: 130%;
}

.preview-about {
    color: rgb(35, 62, 102);
    font-family: 'Days One';
    font-size: 20px;
    font-weight: 400;
    line-height: 130%;
    letter-spacing: 0%;
    text-align: left;
    margin-top: 0;
}

.preview-description {
    font-family: 'Onest';
    font-size: 20px;
    font-weight: 400;
    line-height: 130%;
    letter-spacing: 0%;
    text-align: left;
}

.event-preview-photo {
    position: relative; /* Родительский элемент для позиционирования */
    border-radius: 25px;
    overflow: hidden; /* Скрывает элементы, выходящие за пределы */
    height: 100%;
}

.preview-photo {
    width: 100%; /* Заполняет родительский элемент */
    border-radius: 25px;
    height: 100%;
}

.button-substrate {
    position: absolute;
    bottom: 0px; /* Отступ от низа */
    left: 30px; /* Отступ от левого края */
    background-color: rgba(217, 217, 217, 0.8);
    padding-left: 0;
    border-bottom-left-radius: 25px;
    border-top-right-radius: 25px;
}

.type-substrate {
    position: absolute;
    top: 0px; /* Отступ от верха */
    right: 0px; /* Отступ от правого края */
    padding: 10px;
    padding-right: 1px;
    padding-top: 1px;
    z-index: 2;
    background-color: rgba(217, 217, 217, 0.8);
    border-bottom-left-radius: 25px;
    border-top-right-radius: 25px;
}


.show-more {
    color: rgb(92, 89, 89);
    text-decoration: none;
}

.preview-event-id {
    display: block;
    position: absolute;
    right: 40px;
    bottom: 25px;
    text-align: right;
    color: rgb(35, 62, 102);
    font-family: 'Days One';
    font-size: 20px;
    font-weight: 400;
    line-height: 130%;
    letter-spacing: 0%;
}


.e-id {
    display: inline;
}

.account-title {
    text-indent: 0;
    text-align: center;
    font-size: 48px;
    line-height: 160%;
    letter-spacing: 0%;
    text-shadow: -0px 4px 4px rgba(0, 0, 0, 0.25);
}

.profile-fields {
    text-indent: 0;
    top: 201px;
    color: rgb(39, 66, 106);
    font-family: Onest;
    font-size: 24px;
    font-weight: 600;
    line-height: 160%;
    letter-spacing: 0%;
}

.account-information {
    text-indent: 0;
    color: rgb(39, 66, 106);
    font-family: 'Onest';
    font-size: 24px;
    font-weight: 400;
    line-height: 160%;
    letter-spacing: 0%;
    text-align: left;
}

.button-column {
    text-indent: 0;
}

.change-password {
    width: 100%;
    margin-top: 10px;
    margin-right: 0;
    border-radius: 25px;
    box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.25),-2px 2px 4px 0px rgba(0, 0, 0, 0.25);
    background: rgb(39, 66, 106);
    border: none;
    color: rgb(255, 255, 255);
    font-family: 'Onest';
    font-size: 18px;
    font-weight: 600;
    line-height: 170%;
    letter-spacing: 0%;
    text-align: center;

}

.admin-request {
    text-indent: 0;
    color: rgb(39, 66, 106);
    font-family: 'Onest';
    font-size: 24px;
    font-weight: 600;
    line-height: 160%;
    letter-spacing: 0%;
    text-align: left;
    margin-top: 10px;
}

.request-reason {
    min-height: 50px;
    margin-top: 10px;
    width: 100%;
    border-radius: 25px;
    border: none;
    box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.25),-1px 1px 3px 0px rgba(0, 0, 0, 0.25);
    background: rgb(230, 230, 230);
    color: rgb(81, 88, 95);
    font-family: 'Onest';
    font-size: 18px;
    font-weight: 600;
    line-height: 200%;
    letter-spacing: 0%;
    padding: 5px;
    padding-inline: 15px;
}

.send-request {
    width: 35%;
    margin-top: 20px;
    border-radius: 25px;
    border: none;
    box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.25),-1px 1px 3px 0px rgba(0, 0, 0, 0.25);
    background: rgb(39, 66, 106);
    color: rgb(255, 255, 255);
    font-family: 'Onest';
    font-size: 18px;
    font-weight: 600;
    line-height: 200%;
    letter-spacing: 0%;
    text-align: center;
}

.rights-title {
    text-indent: 0;
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: 'Days One';
    font-size: 32px;
    font-weight: 400;
    line-height: 160%;
    letter-spacing: 0%;
    text-shadow: -0px 4px 4px rgba(0, 0, 0, 0.25);
}
table {
    width: 100%;
  }
  
  td {
    width: 50%;
    vertical-align: top; /* Выравниваем содержимое по верху */
  }

.role, .groups {
    color: rgb(39, 66, 106);
    font-family: 'Onest';
    font-size: 24px;
    font-weight: 600;
    line-height: 160%;
    letter-spacing: 0%;
    text-align: left;
}

.role-info, .group-info {
    color: rgb(39, 66, 106);
    font-family: 'Onest';
    font-size: 24px;
    font-weight: 400;
    line-height: 160%;
    letter-spacing: 0%;
    text-align: left;
    word-break: keep-all;
}

@media (max-width: 1705px) {
    .page-header {
        font-size: 46px;
    }

    .profile-fields {
        font-size: 20px;
    }

    .account-information {
        font-size: 20px;
    }
    
    .account-title {
        font-size: 42px;
    }

    .btn-primary {
        background: none;
        width: auto;
        padding: 0;
        border: none;
        box-shadow: none;
    }
    
    .role, .role-info,
    .groups, .group-info {
        font-size: 20px;
    }

    .hidden {
        display: none;
    }

}


@media(max-width: 1668px) {
    .btn {
        padding-inline: 10px;
        font-size: 18px;
    }

    .hidden {
        display: none;
    }

}

@media(max-width: 1566px) {
    .event-preview-time, .event-preview-speaker,
    .preview-description, .e-id,
    .event-type {
        font-size: 18px;
    }

    .event-title-preview {
        font-size: 22px;
    }

    .preview-about {
        font-size: 20px;
    }

    .event-type {
        margin-right: 3px;
        margin-top: 3px;
    }

    .send-request {
        font-size: 16px;
        width: 40%;
    }

    .hidden {
        display: none;
    }
}

@media (max-width: 1474px) {
    .btn {
        padding-inline: 8px;
        font-size: 18px;
    }

    .hidden {
        display: none;
    }
}

@media (max-width: 1467px) {

    .profile-fields {
        font-size: 18px;
    }

    .account-information,
    .role, .role-info,
    .groups, .group-info {
        font-size: 18px;
    }

    .account-title {
        font-size: 36px;
    }

    .change-password {
        font-size: 16px;
    }

    .send-request {
        font-size: 16px;
        width: 40%;
    }

    .btn-primary {
        background: none;
        width: auto;
        padding: 0;
        border: none;
        box-shadow: none;
    }
    .btn {
        padding-inline: 8px;
        font-size: 16px;
    }

    .event-preview-time, .event-preview-speaker,
    .preview-description, .e-id,
    .event-id, .event-type {
        font-size: 16px;
    }

    .event-title-preview {
        font-size: 20px;
    }

    .preview-about {
        font-size: 18px;
    }

    .event-type {
        margin-right: 4px;
        margin-top: 4px;
    }

    .type-substrate {
        padding-left: 7px;
        padding-bottom: 7px;
        border-bottom-left-radius: 15px;
    }

    .hidden {
        display: none;
    }
}

@media (max-width: 1392px) {

    .btn-primary {
        background: none;
        width: auto;
        padding: 0;
        border: none;
        box-shadow: none;
    }
}

@media (max-width: 1383px){
    .nav-item {
        font-size: 14px;
    }

    .hidden {
        display: none;
    }
}


@media (max-width: 1341px) {
    .page-header {
        font-size: 44px;
    }

    .fields {
        width: 30%;
    }

    .info {
        width: 30%;
    }
    
    .button-column {
        width: 60%;
    }

    .side-indent {
        width: 20%;
    }

    .profile-fields {
        font-size: 16px;
    }

    .account-information,
    .role, .role-info,
    .groups, .group-info {
        font-size: 16px;
    }

    .account-title {
        font-size: 34px;
    }

    .change-password {
        margin-top: 5px;
    }

    .btn-primary {
        background: none;
        width: auto;
        padding: 0;
        border: none;
        box-shadow: none;
    }

    .rights-column {
        width: 60%;
    }

    .hidden {
        display: none;
    }
}

@media (max-width: 1335px) {
    .btn {
        padding-inline: 6px;
        font-size: 14px;
        margin-right: 3px;
    }

    .event-preview-time, .event-preview-speaker,
    .preview-description, .e-id,
    .event-id, .event-type {
        font-size: 14px;
    }

    .event-title-preview {
        font-size: 18px;
    }

    .preview-about {
        font-size: 16px;
    }

    .hidden {
        display: none;
    }

}


@media (max-width: 1219px) {
    .feed-left-column{
        width: 5%;
    }

    .cards {
        width: 90%;
    }

    .feed {
        width: 80%;
    }

    .profile-fields {
        font-size: 14px;
    }

    .account-information,
    .role, .role-info,
    .groups, .group-info {
        font-size: 14px;
    }

    .account-title {
        font-size: 32px;
    }

    .change-password {
        margin-top: 5px;
        font-size: 14px;
    }

    .btn-primary {
        background: none;
        width: auto;
        padding: 0;
        border: none;
        box-shadow: none;
    }

    .hidden {
        display: none;
    }
}

@media (max-width: 1115px) {
    .event-preview-text {
        padding-inline: 10px;
        padding-right: 20px;
        width: 55%;
    }

    .event-type,
    .preview-description,
    .preview-about {
        font-size: 14px;
    }

    .event-title-preview {
        font-size: 16px;

    }

    .preview-date,
    .preview-time,
    .event-preview-time,
    .event-preview-speaker {
        font-size: 12px;
    }

    .preview-event-id {
        font-size: 8px;
    }

    .btn {
        font-size: 13px;
        padding: 0;
        width: auto;
        height: 33px;
        padding-inline: 10px;
        box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.25),-1px 1px 3px 0px rgba(0, 0, 0, 0.25);
        margin: 0;
    }

    .change-password {
        height: 30px;
        width: 100%;
        font-size: 16px;
        font-weight: 600;
        line-height: 170%;
        letter-spacing: 0%;
    }

    .send-request {
        margin-top: 10px;
        height: 30px;
        width: 50%;
        font-size: 16px;
        font-weight: 600;
        line-height: 170%;
        letter-spacing: 0%;
    }

    .button-substrate {
        padding-top: 7px;
    }

    table {
        width: 100%;
      }

    .btn-primary {
    background: none;
    width: auto;
    padding: 0;
    border: none;
    box-shadow: none;
    margin-left: 5px;
    }

    .hidden {
        display: none;
    }
}

@media (max-width: 1088px) {

    .btn {
        font-size: 13px;
        padding: 0;
        width: auto;
        height: 33px;
        padding-inline: 8px;
        box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.25),-1px 1px 3px 0px rgba(0, 0, 0, 0.25);
        margin: 0;
    }

    .btn-primary {
        background: none;
        width: auto;
        padding: 0;
        border: none;
        box-shadow: none;
        margin-left: 5px;
    }

    .change-password {
        height: 30px;
        width: 100%;
        font-size: 14px;
        font-weight: 600;
        line-height: 170%;
        letter-spacing: 0%;
    }

    .send-request {
        margin-top: 10px;
        height: 30px;
        width: 50%;
        font-size: 14px;
        font-weight: 600;
        line-height: 170%;
        letter-spacing: 0%;
    }

    .card {
        padding-left: 5px;
        padding-bottom: 5px;

    }

    .hidden {
        display: none;
    }

}

@media (max-width: 1064px) {

    .event-preview-photo {
        /* height: auto; */
        width: 45%;
    }

    .event-preview-text {
        padding-inline: 5px;
        padding-right: 20px;
        width: 55%;
    }

    .hidden {
        display: none;
    }

}

@media (max-width: 991px) {
   .main-header {
    width: 50%;
   }

   .selection {
    width: 50%;
   }

    .page-header {
        font-size: 42px;
    }

    .left-column {
        width: 10%;
    }

    .feed {
        width: 80%;
    }

    .account-title {
        font-size: 30px;
    }

    .btn-primary {
        background: none;
        width: auto;
        padding: 0;
        border: none;
        box-shadow: none;
    }

    .event-preview-time {
        width: 45%;
    }

    .event-preview-speaker {
        text-indent: 0;
        padding-right: 0;
        margin-right: 0;
        width: 50%;
    }

    .hidden {
        display: none;
    }
}

@media (max-width: 978px) {
    
    .event-preview-photo {
        /* height: auto; */
        width: 45%;
    }

    .event-title-preview {
        font-size: 16px;
    }

    .event-preview-text {
        padding-inline: 5px;
        padding-right: 20px;
        width: 55%;
    }

    .event-type,
    .preview-description,
    .preview-about {
        font-size: 14px;
    }

    .event-preview-time {
        width: 50%;
        padding-right: 0;
        margin-right: 0;
    }

    .event-preview-speaker {
        text-indent: 0;
        padding-right: 10px;
        margin-right: 0;
        width: 50%;
    }

    .card {
        margin-bottom: 15px;
    }

    .cards {
        width: 95%;
        padding: 0;
    }

    .feed-left-column {
        width: 0;
    }

    .feed {
        width: 90%;
    }

    .left-column {
        width: 6vw;
    }

    .preview-event-id {
        display: block;
        position: absolute;
        right: 20px;
        bottom: 25px;
        text-align: right;
        color: rgb(35, 62, 102);
        font-family: 'Days One';
        font-size: 10px;
        font-weight: 400;
        line-height: 130%;
        letter-spacing: 0%;
    }

    .button-substrate {
        padding-right: 5px;
        border-radius: 0px 20px 0px 25px;
    }

    .hidden {
        display: none;
    }

}


@media (max-width: 850px) {
    .card {
        margin: 15px;
        /* padding: 5px; */
        padding-left: 0;
        border-radius: 20px;
    }
    
    .event-preview-photo {
        /* height: auto; */
        width: 45%;
        border-radius: 15px;
    }
    
    .event-preview-text {
        padding-inline: 10px;
        padding-right: 20px;
        width: 55%;
    }
    
    .preview-photo {
        width: 100%; /* Ensures photo fits card */
        height: 100%;
        border-radius: 20px;
    }
    
    .event-preview-speaker {
        text-indent: 0;
        padding-right: 25px;
        margin-right: 0;
        width: 50%;
    }


    .event-type,
    .preview-description,
    .preview-about {
        font-size: 14px;
    }

    .preview-date,
    .preview-time,
    .event-preview-time,
    .event-preview-speaker,
    .preview-event-id {
        font-size: 12px;
    }

    .button-substrate {
        /* width: 119px; */
        /* height: 27px; */
        padding-right: 5px;
    }
    .event-preview-photo {
        /* height: auto; */
        width: 45%;
        border-radius: 17px;

    }
    .event-preview-text {
        /* padding-inline: 5px; */
        padding-right: 0;
        width: 55%;
    }
    .type-substrate {
        padding: 3px;
        padding-top: 0;
        padding-right: 0;
        border-radius: 0px 10px 0px 7px;
            
    }

    .btn-primary {
        background: none;
        width: auto;
        padding: 0;
        border: none;
        box-shadow: none;
    }

    .feed-left-column {
        width: 0;
    }

    .cards {
        width: 100%;
        padding: 0;
    }

    .hidden {
        display: none;
    }

}


@media (max-width: 795px) {
    .account-title {
        font-size: 30px;
    }

    .fields {
        width: 35%;
    }

    .info {
        width: 35%;
    }
    
    .button-column {
        width: 65%;
        padding: 0;
    }

    .side-indent {
        width: 15%;
    }

    .btn-primary {
        background: none;
        width: auto;
        padding: 0;
        border: none;
        box-shadow: none;
    }

    .rights-column {
        width: 65%;
        padding: 0;
    }

    .hidden {
        display: none;
    }

}


@media (max-width: 786px) {
    .btn {
        padding-inline: 5px;
    }

    .hidden {
        display: none;
    }
}

@media (max-width: 756px) {

    .left-column {
        width: 7%;
        margin: 0;
    }

    .feed {
        width: 90%;
        margin: 0;
        padding: 0.5rem;
    }
    .right-column {
        width: 3%;
        margin: 0;
        padding: 0;
    }

    .cards {
        width: 95%;
        padding: 0;
    }
    
    .card {
        padding-left: 5px;
        margin: 10px;
    }
    .event-preview-photo {
        height: auto;
        width: 95%;
    }

    .event-preview-text {
        padding-right: 15px; 
        margin-left: 15px;
        width: 95%;
        margin-top: 5px;
    } 

    .event-title-preview {
        font-size: 20px;
    }

    .preview-about {
        font-size: 18px;
    }

    .event-preview-speaker {
        text-indent: 0;
        padding-right: 10px;
        margin-right: 0;
    }

    .hidden {
        display: none;
    }

}


@media (max-width: 480px) {
    main {
        width: 100vw;
        margin: 0;
  
    }
    .left-column {
        width: 8%;
        margin: 0;
    }

    .feed {
        width: 90%;
        margin: 0;
        padding: 0.5rem;
    }
    .right-column {
        width: 3%;
        margin: 0;
    }

    .name-for-events {
        margin-bottom: 0;
    }

    .cards {
        width: 100%;
        padding: 0;
    }
    
    .card {
        padding-left: 5px;
        margin: 10px;
    }
    .event-preview-photo {
        height: auto;
        width: 95%;
    }

    .event-preview-text {
        padding-right: 15px; 
        margin-left: 15px;
        width: 95%;
        margin-top: 5px;
    } 

    .event-type,
    .preview-description,
    .preview-about {
        font-size: 14px;
    }

    .event-title-preview {
        font-size: 16px;

    }

    .preview-date,
    .preview-time,
    .event-preview-time,
    .event-preview-speaker {
        font-size: 12px;
    }

    .preview-event-id {
        font-size: 8px;
    }

    .button-substrate {
        width: auto;
        /* height: 27px; */
        padding: 0;
        padding-right: 5px;
        border-radius: 0px 13px 0px 10px;
    }

    .btn {
        font-size: 14px;
        padding: 0;
        width: auto;
        height: 25px;
        padding-inline: 10px;
        box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.25),-1px 1px 3px 0px rgba(0, 0, 0, 0.25);
        margin: 0;
    }

    .type-substrate {
        padding: 3px;
        border-radius: 0px 10px 0px 7px;
            
    }
    .event-type {
        margin: 0;
    }

    .event-preview-photo {
        /* height: auto; */
        border-radius: 15px;
        margin-left: 0;
        padding: 0;
    }

    .preview-photo {
        width: 100%;
        border-radius: 15px;
    }

    .event-preview-description {
        padding-top: 0;
        margin-bottom: 0;
    }
    .preview-event-id {
        padding: 0;
        margin: 0;
        vertical-align: bottom;
    }

    p {
        margin-bottom: 0;
    }
    .event-preview-time {
        width: 50%;
        padding-right: 0%;
    }
    
    .preview-date {
        margin: 0;
    }
    .preview-time {
        margin: 0;
    }
    
    .event-preview-speaker {
        padding-left: 0%;
        width: 50%;
    }

    .preview-about {
        margin-top: 0;
    }

    .button-substrate {
        left: 20px;
    }

    .preview-event-id {
        display: block;
        position: relative;
        bottom: 0;
        right: 0;
    }
    
    .event {
        margin-top: 0.2rem;
        margin-bottom: 0.2rem;
    } 

    .account-title {
        font-size: 26px;
    }

    .fields {
        width: 46%;
        margin: 0;
        padding: 0;
    }

    .info {
        width: 46%;
        margin: 0;
        padding: 0;
    }
    
    .button-column {
        margin-left: 20px;
        width: 90%;
        padding: 0;
    }

    .rights-column {
        margin-left: 20px;
        width: 90%;
        padding: 0;
    }

    .change-password {
        height: 30px;
        width: 100%;
        font-size: 14px;
        font-weight: 600;
        line-height: 170%;
        letter-spacing: 0%;
    }

    .side-indent {
        width: 1%;
    }

    .send-request {
        margin-top: 10px;
        height: 30px;
        width: 50%;
        font-size: 14px;
        font-weight: 600;
        line-height: 170%;
        letter-spacing: 0%;
    }
    
    .request-reason {
        min-height: 30px;
        margin-top: 10px;
        width: 100%;
        border-radius: 25px;
        border: none;
        box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.25),-1px 1px 3px 0px rgba(0, 0, 0, 0.25);
        background: rgb(230, 230, 230);
        color: rgb(81, 88, 95);
        font-family: 'Onest';
        font-size: 14px;
        font-weight: 600;
        line-height: 200%;
        letter-spacing: 0%;
        padding: 5px;
        padding-inline: 15px;
    }

    .admin-request {
        text-indent: 0;
        color: rgb(39, 66, 106);
        font-family: 'Onest';
        font-size: 18px;
        font-weight: 600;
        line-height: 160%;
        letter-spacing: 0%;
        text-align: left;
        margin-top: 10px;
    }

    .rights-title {
        font-size: 22px;
    }

    .btn-primary {
        background: none;
        width: auto;
        padding: 0;
        border: none;
        box-shadow: none;
        margin-left: 5px;
    }

    .main-header {
        width: 50%;
       }
    
    .selection {
    width: 50%;
    padding-top: 0;
    }

    .selection-icon {
        margin: 0;
        height: 44px;
        width: 44px;
    }

    .selection-icon:hover {
        height: 44px;
        width: 44px;
        box-shadow: none;
    }
    /* либо оставить так, либо заменить свойство hover на focus */
    .selection-icon:active {
        height: 54px;
        width: 54px;
        box-shadow: 0px 0px 10px 6px #d9d9d9;
    }

    .change-password {
        width: 100%;
    }

    .dropdown-filter {
        max-width: 300px;
        font-size: 14px;
        text-align: left;
    }
    
    .speaker-filter {
        padding-inline: 2px;
    }

    .col-lg-2, .dropdown {
        text-indent: 17px;
    }

    .hidden {
        display: none;
    }

}


@media (max-width: 470px) {
    .btn-primary {
        margin-top: 0;
        background: none;
        width: auto;
        padding: 0;
        border: none;
        box-shadow: none;
    }

    .main-header {
        width: 50%;
       }
    
    .selection {
    width: 50%;
    
    }

    .change-password {
        width: 100%;
    }

    .filter-message {
        font-size: 14px;
    }

    .col-lg-2, .dropdown {
        text-indent: 17px;
    }

    .hidden {
        display: none;
    }
}


@media (max-width: 384px) {
    .btn {
        font-size: 14px;
        padding: 0;
        width: auto;
        height: 25px;
        padding-inline: 5px;
        box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.25),-1px 1px 3px 0px rgba(0, 0, 0, 0.25);
  
    }

    .main-header {
        width: 50%;
       }
    
       .selection {
        width: 50%;
       }

    .account-title {
        font-size: 24px;
    }

    .btn-primary {
        background: none;
        width: auto;
        padding: 0;
        border: none;
        box-shadow: none;
    }

    .change-password {
        width: 100%;
    }

    .hidden {
        display: none;
    }


}


@media (max-width: 360px) {
    .btn {
        font-size: 13px;
        padding: 0;
        width: auto;
        height: 25px;
        padding-inline: 3px;
        box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.25),-1px 1px 3px 0px rgba(0, 0, 0, 0.25);
        margin-right: 3px;
  
    }

    .main-header {
        width: 50%;
    }
    
    .selection {
    width: 50%;
    }

    .account-title {
        font-size: 24px;
    }
    .btn-primary {
        background: none;
        width: auto;
        padding: 0;
        border: none;
        box-shadow: none;
    }

    .hidden {
        display: none;
    }

}

